extends layout

block content
  h1= title
  h2 Denne hjemmeside er for dig der elsker øl!
  img(src="/images/beerLover.gif", alt="Love beer")
  
  h3 De mest kendte øltyper
    h4 God gammeldags pilsner
    img(src="/images/pilsner.jpg", alt="pilsner")

    h4 Guldøl til dem som bare ikke kan få nok procenter
    img(src="/images/guld.jpg", alt="guld")

    h4 Solbajer til dem som bare ikke kan lide smagen af øl
    img(src="/images/corona.png", alt="sol")

